.products-container{
    padding: 50px 75px;
    background-color: var(--light-grey);
}



.products-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products-box{
    display: flex;
    flex-direction: column;

}

.ap-button{
    max-width: 160px;
}

.item-image{
    width: 175px;
    height: 175px;
    object-fit: contain;
}